<div class="wrapper">
    <div class="filter-input">
        <input id="filter-input" type="text" {{on "input" this.updateFilter}} />
    </div>
    <table id="data-table">
        <thead>
            <tr>
                <th {{on "click" (fn this.updateSort "query" )}}
                    class="{{if (if-equals this.sortColumn 'query') this.sortAscending}}">Keywords</th>
                <th {{on "click" (fn this.updateSort "position" )}}
                    class="{{if (if-equals this.sortColumn 'position') this.sortAscending}}">Position</th>
                <th {{on "click" (fn this.updateSort "resultCount" )}}
                    class="{{if (if-equals this.sortColumn 'resultCount') this.sortAscending}}">Result Count</th>
                <th {{on "click" (fn this.updateSort "lastMonthChange" )}}
                    class="{{if (if-equals this.sortColumn 'lastMonthChange') this.sortAscending}}">Last Month Change
                </th>
                <th {{on "click" (fn this.updateSort "searchVolume" )}}
                    class="{{if (if-equals this.sortColumn 'searchVolume') this.sortAscending}}">SV (global)</th>
                <th {{on "click" (fn this.updateSort "competitorAverageRank" )}}
                    class="{{if (if-equals this.sortColumn 'competitorAverageRank') this.sortAscending}}">Average
                    Competitor Rank</th>
                <th {{on "click" (fn this.updateSort "bestCompetitorPositon" )}}
                    class="{{if (if-equals this.sortColumn 'bestCompetitorPositon') this.sortAscending}}">Best
                    Competitor Rank</th>
            </tr>
        </thead>
        {{#if @error}}
        {{#if this.filteredAndSortedKeywords.length}}
        {{#each this.filteredAndSortedKeywords as |keyword|}}
        <tbody>
            <KeywordsTableRow @keyword={{keyword}} />
        </tbody>
        {{/each}}
        {{else}}
        <tbody class="empty">
            <td colspan="7">
                No keywords to show.
            </td>
        </tbody>
        {{/if}}
        {{else}}
        <tbody class="empty">
            <td colspan="7">
                Failed to fetch data.
            </td>
        </tbody>
        {{/if}}
    </table>
</div>