<tr>
    <td class="query">
        <div class="query-flex">
            {{@keyword.query}}
            <span class="link">
                {{format-link @keyword.uri}}
            </span>
        </div>
    </td>
    <td class="number position">{{format-number @keyword.position}}</td>
    <td class="number">{{format-number @keyword.searchVolume}}</td>
    <td class="number">{{format-number @keyword.resultCount}}</td>
    <td class="number">{{{color-number (format-number @keyword.lastMonthChange)}}}</td>
    <td class="number">{{format-number @keyword.competitorAverageRank}}</td>
    <td class="number">{{format-number @keyword.bestCompetitorPosition}}</td>
</tr>