<div class="wrapper">
    <div class="filter-input">
        <input id="filter-input" type="text" {{on "input" this.updateFilter}} />
    </div>
    <table id="data-table">
        <thead>
            <tr>
                <th {{on "click" (fn this.updateSort "query" )}}>Keywords</th>
                <th {{on "click" (fn this.updateSort "position" )}}>Position</th>
                <th {{on "click" (fn this.updateSort "searchVolume" )}}>SV (global)</th>
                <th {{on "click" (fn this.updateSort "resultCount" )}}>Result Count</th>
                <th {{on "click" (fn this.updateSort "lastMonthChange" )}}>Last Month Change</th>
                <th {{on "click" (fn this.updateSort "competitorAverageRank" )}}>Average Competitor Rank</th>
                <th {{on "click" (fn this.updateSort "bestCompetitorPositon" )}}>Best Competitor Rank</th>
            </tr>
        </thead>
        <tbody>
            {{#each this.filteredAndSortedKeywords as |keyword|}}
            <KeywordsTableRow @keyword={{keyword}} />
            {{/each}}
        </tbody>
    </table>
</div>