<tr>
    <td class="query">{{@keyword.query}}</td>
    <td class="position">{{@keyword.position}}</td>
    <td>{{@keyword.searchVolume}}</td>
    <td>{{@keyword.resultCount}}</td>
    <td>{{@keyword.lastMonthChange}}</td>
    <td>{{@keyword.competitorAverageRank}}</td>
    <td>{{@keyword.bestCompetitorPosition}}</td>
</tr>