<table>
    <thead>
        <tr>
            <th>Query</th>
            <th>Position</th>
            <th>Search Volume</th>
            <th>Result Count</th>
            <th>Last Month Change</th>
            <th>Average Competitor Rank</th>
            <th>Best Competitor Position</th>
        </tr>
    </thead>
    <tbody>
        {{#each this.model as |keyword|}}
        <tr>
            <td>{{keyword.query}}</td>
            <td>{{keyword.position}}</td>
            <td>{{keyword.searchVolume}}</td>
            <td>{{keyword.resultCount}}</td>
            <td>{{keyword.lastMonthChange}}</td>
            <td>{{keyword.competitorAverageRank}}</td>
            <td>{{keyword.bestCompetitorPosition}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>